<img src="../../assets/sun.png" class="sun">
<img src="../../assets/hill.png" class="hill2">
<img src="../../assets/hill.png" class="hill1">
<img src="../../assets/train.png" class="train">
<img src="../../assets/smoke.png" class="smoke1">
<img src="../../assets/smoke.png" class="smoke2">
<img src="../../assets/smoke.png" class="smoke3">
<img src="../../assets/smoke.png" class="smoke4">
<img src="../../assets/smoke.png" class="smoke5">
<img src="../../assets/smoke.png" class="smoke6">
<img src="../../assets/smoke.png" class="smoke7">
