.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td {
  padding: 0px;
  width: 300px;
}

table {
  border-spacing: 0px;
}

@keyframes animation1 {
  0% {
    content: url("../assets/pic1.png");
  }
  25% {
    content: url("../assets/pic2.png");
  }
  50% {
    content: url("../assets/pic3.png");
  }
  75% {
    content: url("../assets/pic4.png");
  }
  100% {
    content: url("../assets/pic1.png");
  }
}

@keyframes animation2 {
  0% {
    content: url("../assets/pic5.png");
  }
  25% {
    content: url("../assets/pic6.png");
  }
  50% {
    content: url("../assets/pic7.png");
  }
  75% {
    content: url("../assets/pic8.png");
  }
  100% {
    content: url("../assets/pic5.png");
  }
}

@mixin rotate-pictures ($animation, $delay) {
  animation-name: $animation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-delay: $delay;
}

.pic1 {
  @include rotate-pictures(animation1, 0s)
}

.pic2 {
  @include rotate-pictures(animation2, 3s)
}

@mixin icon-atrributes ($top, $left, $dimension, $rotate) {
  position: absolute;
  transform: translate(-50%, -50%) rotate($rotate);
  left: $left;
  top: $top;
  width: $dimension;
  height: $dimension;
}

@keyframes icon-animation {
  0% {
    @include icon-atrributes(-20%, 50%, 150px, 180deg)
  }
  10% {
    @include icon-atrributes(50%, 50%, 150px, 180deg)
  }
  13% {
    @include icon-atrributes(50%, 50%, 250px, 720deg)
  }
  90% {
    @include icon-atrributes(50%, 50%, 250px, 720deg)
  }
  95% {
    @include icon-atrributes(-20%, 50%, 250px, 720deg)
  }
  100% {
    @include icon-atrributes(-20%, 50%, 250px, 720deg)
  }
}

.icon-animation {
  animation-name: icon-animation;
  animation-duration: 8s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
