<div class="center">
    <table>
        <tr>
            <td>
                <div class="cell1"></div>
            </td>
            <td>
                <div class="cell2"></div>
            </td>
            <td>
                <div class="cell3"></div>
            </td>
            <td>
                <div class="cell4"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell1"></div>
            </td>
            <td>
                <div class="cell2"></div>
            </td>
            <td>
                <div class="cell3"></div>
            </td>
            <td>
                <div class="cell4"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell1"></div>
            </td>
            <td>
                <div class="cell2"></div>
            </td>
            <td>
                <div class="cell3"></div>
            </td>
            <td>
                <div class="cell4"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell1"></div>
            </td>
            <td>
                <div class="cell2"></div>
            </td>
            <td>
                <div class="cell3"></div>
            </td>
            <td>
                <div class="cell4"></div>
            </td>
        </tr>
    </table>
</div>