<div class="center">
    <table>
        <tr>
            <td>
                <div class="red1"></div>
            </td>
            <td>
                <div class="red2"></div>
            </td>
            <td>
                <div class="red3"></div>
            </td>
            <td>
                <div class="red4"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="orange1"></div>
            </td>
            <td>
                <div class="orange2"></div>
            </td>
            <td>
                <div class="orange3"></div>
            </td>
            <td>
                <div class="orange4"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="red1"></div>
            </td>
            <td>
                <div class="red2"></div>
            </td>
            <td>
                <div class="red3"></div>
            </td>
            <td>
                <div class="red4"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="orange1"></div>
            </td>
            <td>
                <div class="orange2"></div>
            </td>
            <td>
                <div class="orange3"></div>
            </td>
            <td>
                <div class="orange4"></div>
            </td>
        </tr>
    </table>
</div>
